 .main-section{
     .header-button {
         display: flex;
         flex-wrap: wrap;
         justify-content: center;
         margin-top: 40px;
         margin-bottom: 40px;
        a {
            color: #fff;
            text-decoration: none;
            padding: 14px 24px;
            background-color: #eb7d4b;
            width: 200px;
            justify-content: space-around;
            text-transform: uppercase;

            
        }
     }
   
}   

.btn-secondary {
    color: #fff;
    padding: 14px 24px;
    width: 200px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #55c2e9;
    margin-top: 40px;
    font-weight: 700;

}
